<div class="h-screen bg-gray-100 pt-10">
  <h1 class="mb-10 text-center text-2xl font-bold">Articles du Panier</h1>
  <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
    <div class="rounded-lg md:w-2/3">
      <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start" *ngFor="let product of products$ | async" >
        <img src="{{product.product.imageUrls}}" alt="product-image" class="w-full rounded-lg sm:w-40" />
        <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
          <div class="mt-5 sm:mt-0">
            <h2 class="text-lg font-bold text-gray-900">{{product.product.name}}</h2>
            <p class="mt-1 text-xs text-gray-700">{{product.product.description}}</p>
          </div>
          <div class="mt-4 flex justify-between im sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
            <div class="flex items-center border-gray-100">
              <span class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50" (click)="minusQuantity(product.product.id)"> - </span>
              <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="{{product.quantity}}" min="1" />
              <span class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50" (click)="addQuantity(product.product.id)"> + </span>
            </div>
            <div class="flex items-center space-x-4">
              <p class="text-sm">{{product.product.price}} DHS</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500" (click)="removeItemFromCart(product.product.id)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 ">
        <a href="/products" class="flex font-semibold text-indigo-600 text-sm mt-10">
          <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
      </div>
    </div>
    <!-- Sub total -->
    <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
      <div class="mb-2 flex justify-between">
        <p class="text-gray-700">Sous-total</p>
        <p class="text-gray-700">{{prix}} DHS</p>
      </div>
      <div class="flex justify-between">
        <p class="text-gray-700">Livraison</p>
        <p class="text-gray-700">30 DHS</p>
      </div>
      <div class="py-10">
        <label
          for="promo"
          class="font-semibold inline-block mb-3 text-sm uppercase"
        >
          Code promo
        </label>
        <input
          type="text"
          id="promo"
          placeholder="Entrer votre code"
          class="p-2 text-sm w-full"
        />
      </div>
      <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">
        Appliquer
      </button>
      <hr class="my-4" />
      <div class="flex justify-between">
        <p class="text-lg font-bold">Totale</p>
        <div class="">
          <p class="mb-1 text-lg font-bold">{{prix+30}} DHS</p>
        </div>
      </div>
      <button class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600" (click)="gotoclientinfo()">Passer la commande</button>
    </div>
  </div>
</div>
