<!-- component -->
<!-- Create By Joker Banny -->
<body class="bg-white">
<!-- Header Navbar -->


<!-- Tab Menu -->


<!-- Product List -->
<section class="py-10 bg-gray-100 ">
  <nav class="flex ml-12" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-indigo-600">
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
          </svg>
          Acceuil
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-indigo-600 md:ml-2">Produits</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-indigo-600 md:ml-2">Maquillage</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">Démaquillants</span>
        </div>
      </li>
    </ol>
  </nav>
  <div class="mx-auto max-w-6xl px-6 py-10 flex flex-col lg:flex-row gap-6">
    <aside class="w-full lg:w-1/4 bg-white p-4 border rounded-md shadow-sm">
      <div class="w-full max-w-xs bg-white p-4 border rounded-md shadow-sm">
        <h2 class="text-gray-400 font-semibold uppercase text-sm mb-4">Filtrer par</h2>

        <!-- Marque Section -->
        <div class="mb-6">
          <h3 class="text-sm font-bold text-blue-900 uppercase mb-2">Marque</h3>
          <ul class="space-y-1 max-h-48 overflow-y-auto scrollbar-thin scrollbar-thumb-blue-500">
            <li><a href="#" class="text-blue-700 hover:underline text-sm">A-Derma (6)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">ACM (11)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Acti Ceutic (1)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Acuré (3)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Algologie (10)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Allergika (1)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Alphanova (1)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Alvena (2)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Anua (2)</a></li>
          </ul>
        </div>

        <!-- Catégories Section -->
        <div class="mb-6">
          <h3 class="text-sm font-bold text-blue-900 uppercase mb-2">Catégories</h3>
          <ul class="space-y-1">
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Coton (11)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Démaquillants Yeux</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Eau & Lotions (158)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Éponge et Brosses (9)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Gel & Crème (264)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Huile & Mousse (93)</a></li>
            <li><a href="#" class="text-blue-700 hover:underline text-sm">Lait & Pains (73)</a></li>
          </ul>
        </div>

        <!-- Prix Range -->
        <div class="mb-4">
          <h3 class="text-sm font-bold text-blue-900 uppercase mb-2">Prix</h3>
          <div class="mb-4">
            <input
              type="range"
              id="price-range"
              class="w-full accent-blue-500"
              [min]="min"
              [max]="max"
              [(ngModel)]="price"
            />
          </div>
          <div class="flex justify-between text-gray-500">
            <span>{{ formattedPrice }}</span>
            <span>{{ max }} DHS</span>
          </div>


        </div>
      </div></aside>
    <div class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <!-- articles -->
      <article class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 "
      *ngFor="let product of products$ | async">
        <a href="#" (click)="gotoproductdetails(product.id, $event)">
          <div class="relative flex items-end overflow-hidden rounded-xl">
            <img src="{{product.imageUrls[0]}}" alt="Aucun image disponible" />
            <div class="flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>

              <button class="text-sm">Ajouter au panier</button>
            </div>
          </div>

          <div class="mt-1 p-2">
            <h2 class="text-slate-700">{{product.name}}</h2>
            <p class="mt-1 text-sm text-slate-400">{{product.description}}</p>

            <div class="mt-3 flex items-end justify-between">
              <p class="text-lg font-bold text-blue-500">{{product.price}}DHS</p>

              <div class="flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>

                <button class="text-sm">Ajouter au panier</button>
              </div>
            </div>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>

</body>
